<div class="container">
    <section>
        <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
            <div class="mb-4">
                <div class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12">
                    <p class="text-base font-semibold uppercase tracking-wide">
                        Jobs
                    </p>
                    <h2 class=" mb-4 font-bold tracking-tight text-5xl">
                        Lavora con noi
                    </h2>
                    <p class="monts-italic mt-10" *ngIf="jobs.length===0">
                        Al momento non ci sono offerte di lavoro.
                    </p>
                    <p *ngIf="jobs.length>0">LISTA DELLE OFFERTE DI LAVORO da prendere a DB</p>
                </div>
            </div>
        </div>
    </section>
</div>