<div class="container">
    <section id="contact">
        <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
            <div class="mb-4">
                <div class="mb-6 text-center sm:text-center lg:mx-auto lg:mb-12">
                    <p class="text-base font-semibold uppercase tracking-wide">
                        Contatti
                    </p>
                    <h2 class=" mb-4 font-bold tracking-tight text-5xl">
                        Tutto su come trovarci
                    </h2>

                </div>
            </div>
            <div class="flex items-stretch justify-center">
                <div class="grid lg:grid-cols-2">
                    <div class="h-full pr-6">
                        <p class="mt-3 mb-12 text-lg">
                            Hai domande sul nostro menu, prenotazioni per eventi speciali o altre richieste? Il nostro
                            team è pronto a offrirti assistenza. Compila il modulo sottostante o chiamaci per ricevere
                            una risposta veloce e personalizzata. Siamo qui per rendere la tua esperienza al meglio!
                        </p>
                        <ul class="mb-6 lg:mb-0">
                            <li class="flex">
                                <div class="flex h-10 w-10 items-center justify-center rounded bg-base-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="h-6 w-6">
                                        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                        <path
                                            d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="ml-4 mb-4">
                                    <h3 class="mb-2 text-lg font-medium leading-6">Il nostro indirizzo
                                    </h3>
                                    <p>Piazza G. B. Grassi</p>
                                    <p>Fiumicino (RM), 00054</p>
                                </div>
                            </li>
                            <li class="flex">
                                <div class="flex h-10 w-10 items-center justify-center rounded bg-base-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="h-6 w-6">
                                        <path
                                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                                        </path>
                                        <path d="M15 7a2 2 0 0 1 2 2"></path>
                                        <path d="M15 3a6 6 0 0 1 6 6"></path>
                                    </svg>
                                </div>
                                <div class="ml-4 mb-4">
                                    <h3 class="mb-2 text-lg font-medium leading-6">Telefono
                                    </h3>
                                    <p>Mobile: +39 393 1234567</p>
                                    <p>Mail: gabsrestaurant&#64;gmail.com</p>
                                </div>
                            </li>
                            <li class="flex">
                                <div class="flex h-10 w-10 items-center justify-center rounded bg-base-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="h-6 w-6">
                                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                        <path d="M12 7v5l3 3"></path>
                                    </svg>
                                </div>
                                <div class="ml-4 mb-4">
                                    <h3 class="mb-2 text-lg font-medium leading-6">Orari di apertura</h3>
                                    <p>Lunedì - Venerdì: 08:00 - 00:00</p>
                                    <p>Sabato &amp; Domenica: 08:00 - 2:00</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card h-fit max-w-6xl p-5 lg:p-12" id="form">
                        <h2 class="mb-4 text-2xl font-bold">Pronto a contattarci?</h2>

                        <!-- Alert di successo -->
                        <div role="alert" class="alert alert-success flex flex-row justify-between my-3"
                            *ngIf="successMessage">
                            <div class="flex flex-row">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current"
                                    fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="ms-4">{{successMessage}}</span>
                            </div>
                            <button type="button" class="btn btn-ghost" (click)="successMessage = null">X</button>
                        </div>

                        <!-- Alert di errore -->

                        <div role="alert" class="alert alert-error flex flex-row justify-between my-3" *ngIf="errorMessage">
                            <div class="flex flex-row">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current"
                                    fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="ms-4">{{errorMessage}}</span>
                            </div>
                            <button type="button" class="btn btn-ghost" (click)="errorMessage = null">X</button>
                        </div>


                        <form [formGroup]="contactForm" onsubmit="my_modal_5.showModal()">
                            <div class="mb-6">
                                <div class="mx-0 mb-1 sm:mb-4">
                                    <div class="mx-0 mb-1 sm:mb-4">
                                        <label for="name" class="pb-1 text-xs uppercase tracking-wider">Nome</label>
                                        <input type="text" id="name" formControlName="name" placeholder="Il tuo nome"
                                            class="mb-2 w-full py-2 pl-2 pr-4 border border-gray-700">
                                        <div
                                            *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
                                            <small *ngIf="contactForm.get('name')?.hasError('required')"
                                                class="text-red-600">Il nome è
                                                obbligatorio.</small>
                                        </div>
                                    </div>

                                    <div class="mx-0 mb-1 sm:mb-4">
                                        <label for="email" class="pb-1 text-xs uppercase tracking-wider">Email</label>
                                        <input type="email" id="email" formControlName="email"
                                            placeholder="il tuo indirizzo email"
                                            class="mb-2 w-full py-2 pl-2 pr-4 border border-gray-700">

                                        <div
                                            *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
                                            <small *ngIf="contactForm.get('email')?.hasError('required')"
                                                class="text-red-600">L'email è
                                                obbligatoria.</small>
                                            <small *ngIf="contactForm.get('email')?.hasError('email')">L'email non è
                                                valida.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="mx-0 mb-1 sm:mb-4">
                                    <label for="textarea"
                                        class="pb-1 text-xs uppercase tracking-wider">Messaggio</label>
                                    <textarea id="message" formControlName="message" cols="30" rows="5"
                                        placeholder="Scrivi il tuo messaggio..."
                                        class="mb-2 w-full py-2 pl-2 pr-4 border border-gray-700"></textarea>
                                    <div
                                        *ngIf="contactForm.get('textarea')?.touched && contactForm.get('textarea')?.invalid">
                                        <small *ngIf="contactForm.get('textarea')?.hasError('required')"
                                            class="text-red-600">Il
                                            messaggio è
                                            obbligatorio.</small>
                                    </div>

                                </div>
                            </div>
                            <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle ">
                                <div class="modal-box rounded-none">
                                    <h3 class="text-lg font-bold">Invio modulo di contatto</h3>
                                    <p class="py-4">Sei sicuro di voler inviare il messaggio?</p>
                                    <div class="modal-action">
                                        <form method="dialog">
                                            <!-- if there is a button in form, it will close the modal -->
                                             <button type="submit" class="btn btn-warning rounded-none m-2" (click)="sendForm(contactForm)">INVIA</button>
                                            <button class="btn rounded-none">Close</button>
    
                                        </form>
                                    </div>
                                </div>
                            </dialog>
                            <div class="text-center">
                                <button class="w-full btn btn-warning rounded-none"
                                    [disabled]="contactForm.invalid" onclick="my_modal_5.showModal()">INVIA</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>
</div>
<google-map #mapContainer id="mapContainer" height="400px" width="100%" [center]="center" [zoom]="zoom" [options]="mapOptions">
    <map-marker [position]="markerPosition"></map-marker>
</google-map>