<div class="hero min-h-screen benvenuto"
  style="background-image: url(../../../assets/images/blurred-restaurant.jpg); margin-top: -102px;" >
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content  text-center text-gray-300">
    <div class="">
      <h1 class="mb-5 text-7xl font-bold monts-italic tracking-tight">Benvenuti da <br><span class="pacifico-regular"
          style="font-size: 5.5rem;">Gab's</span></h1>
      <p class="my-16 monts-italic text-2xl">La tradizione che incontra l'innovazione culinaria. <br> Prenota il tuo
        tavolo e vivi un'esperienza
        unica tra sapori autentici e piatti d'autore.
      </p>
      <button class="btn btn-warning btn-lg rounded-none" [routerLink]="['/menu']">GUARDA I NOSTRI MENU</button>
    </div>
  </div>
</div>
<div class="container my-20 text-lg">
  <div class="flex flex-row flex-wrap lg:flex-nowrap">
    <div class="w-full lg:w-1/2 text-center m-3" style="height: 600px;">
      <img src="../../../assets/images/hamburgerone.jpg" alt="boh" style="width: 100%;
      height: 100%;
      object-fit: cover;">
    </div>
    <div class="w-full lg:w-1/2 p-10 m-3 bg-base-300 infocard flex flex-col justify-between">
      <div>
        <h6 class="mb-0 h6">DAL CUORE DI FIUMICINO</h6>
      <hr class="w-1/3 my-3">
      <h4 class="h4">UN VECCHIO MAGAZZINO TRASFORMATO IN UN BAR RISTORANTE</h4>
      <p class="my-10">
        <strong class="pacifico-regular text-2xl">Gab's</strong> è stato creato da buoni amici che hanno unito
        le forze per convertire un vecchio magazzino in un vivace bar e ristorante. Ogni angolo
        del locale riflette la passione per il buon cibo e la convivialità, rendendolo il posto ideale per trascorrere
        piacevoli serate con amici e familiari.
      </p>
      </div>
      <div class="align-bottom"><button class="btn btn-lg btn-warning rounded-none " [routerLink]="['/about']">ABOUT
          US</button></div>
    </div>
  </div>
</div>

<div class="container my-20 text-lg">
  <div class="flex flex-row flex-wrap lg:flex-nowrap">
    <div class="w-full lg:w-1/2 text-center m-3 lg:order-2" style="height: 600px;">
      <img src="../../../assets/images/bancone.jpg" alt="boh" style="width: 100%;
      height: 100%;
      object-fit: cover;">
    </div>
    <div class="w-full lg:w-1/2 p-10 m-3 bg-base-300 infocard flex flex-col justify-between">
      <div>
        <h6 class="mb-0 h6">APERTI TUTTO IL GIORNO</h6>
        <hr class="w-1/3 my-3">
        <h4 class="h4">DA COLAZIONE A DOPO CENA, TUTTO CIO' CHE DESIDERI</h4>
        <p class="my-10">
          Siamo aperti tutto il giorno.
          Un bel caffè per il risveglio, fino a cocktail di altissima qualità di notte, passando per la tavola calda a
          pranzo e la bisteccheria e hamburgeria a cena. <br>
          Inoltre i weekend, tutta la Serie A in diretta per goderti il meglio del calcio con noi! Chiama e prenota il tuo
          tavolo!
        </p>
      </div>
      <div><button class="btn btn-lg btn-warning rounded-none" [routerLink]="['/contact']">CONTATTI</button></div>
    </div>
  </div>
</div>

<div class=" my-20 bg-base-200">
  <div class="container flex flex-col lg:flex-row text-center h-auto lg:min-h-96 p-10">
    <div class=" lg:w-1/3 m-8 relative group overflow-hidden bg-cover bg-center"
        style="background-image: url('../../../assets/images/bistecca.jpg'); min-height: 320px; cursor: pointer; "  (click)="openPDF()">
        <div class="relative z-10 flex items-center justify-center h-full bg-opacity-40 group-hover:bg-opacity-0 transition-all duration-300"
            [ngClass]="currentTheme == 'dark' ? 'bg-black' : 'bg-white'" style="min-height: 320px;">
            <button class="btn btn-warning rounded-none">MENU CENA</button>
        </div>
    </div>
    <div class=" lg:w-1/3 m-8 relative group overflow-hidden bg-cover bg-center"
        style="background-image: url('../../../assets/images/cocktails.jpg'); min-height: 320px; cursor: pointer;"  (click)="openPDF()">
        <div class="relative z-10 flex items-center justify-center h-full bg-black bg-opacity-40 group-hover:bg-opacity-0 transition-all duration-300"
            [ngClass]="currentTheme == 'dark' ? 'bg-black' : 'bg-white'" style="min-height: 320px;">
            <button class="btn btn-warning rounded-none">COCKTAILS</button>
        </div>
    </div>
    <div class=" lg:w-1/3 m-8 relative group overflow-hidden bg-cover bg-center"
        style="background-image: url('../../../assets/images/vini.jpg'); min-height: 320px; cursor: pointer;"  (click)="openPDF()">
        <div class="relative z-10 flex items-center justify-center h-full bg-black bg-opacity-40 group-hover:bg-opacity-0 transition-all duration-300"
            [ngClass]="currentTheme == 'dark' ? 'bg-black' : 'bg-white'" style="min-height: 320px;">
            <button class="btn btn-warning rounded-none">CARTA DEI VINI</button>
        </div>
    </div>
</div>
</div>