<div class="hero min-h-screen benvenuto"
  style="background-image: url(../../../assets/images/blurred-restaurant.jpg); margin-top: -102px;">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content  text-center text-gray-300">
    <div class="">
      <h1 class="mb-5 text-7xl font-bold monts-italic">Benvenuti da <br><span class="pacifico-regular"
          style="font-size: 5.5rem;">Gab's</span></h1>
      <p class="my-16 monts-italic text-2xl">La tradizione che incontra l'innovazione culinaria. <br> Prenota il tuo
        tavolo e vivi un'esperienza
        unica tra sapori autentici e piatti d'autore.
      </p>
      <button class="btn btn-warning btn-lg" [routerLink]="['/menu']">Guarda i nostri menu</button>
    </div>
  </div>
</div>
<div class="container my-20 text-lg">
  
</div>