/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



html,
body {
    height: 100%;
    margin: 0;
    transition: all 0.5s;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.gabs {
    font-size: 40px;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.h1 {
    font-size: 2.5rem;
    /* 40px */
}

.h2 {
    font-size: 2rem;
    /* 32px */
}

.h3 {
    font-size: 1.75rem;
    /* 28px */
}

.h4 {
    font-size: 1.5rem;
    /* 24px */
}

.h5 {
    font-size: 1.25rem;
    /* 20px */
}

.h6 {
    font-size: 1rem;
    /* 16px */
}

.blurred {
    backdrop-filter: blur(20px);

}

.blackened {
    background-color: rgba(0, 0, 0, 0.5) !important;
}



@media (min-width: 1024px) {
    #risto {
        position: absolute;
        top: 68px;
        left: 54px;
        font-size: 14px;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 400;
        font-style: italic;
    }
}

@media (max-width: 1023px) {
    #risto {
        position: absolute;
        top: 68px;
        left: 102px;
        font-size: 14px;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 400;
        font-style: italic;
    }
}

.benvenuto {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.monts-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: italic;
}

.infocard {
    line-height: 2.1rem;
}

.img-menu{
    transition: all 0.5s;
}